language: python
python:
  - "3.5"
install: 
  - "pip install cookiecutter"
  ## dh-virtualenv ##
  - "sudo apt-get install devscripts python-virtualenv git equivs"
  - "git clone https://github.com/spotify/dh-virtualenv.git"
  - "cd dh-virtualenv"
  - "sudo mk-build-deps -ri"
  - "sudo -E dpkg-buildpackage -us -uc -b"
  - "cd .."
  - "sudo dpkg -i dh-virtualenv*.deb"
script:
  - "cookiecutter ProsperFlask --no-input"
  - "cd FlaskSample"
  - "pip install ."
  - "python setup.py test"
  - "sudo dpkg-buildpackage -us -uc -d"
  - "pip uninstall ."
  - "cd .."
  #- "cookiecutter ProsperLibrary --no-input -o test_prosperlib"
  #- "pip install -e test_prosperlib --extra-index-url=https://repo.fury.io/lockefox/"
  #- "python test_prosperlib/setup.py test"
  #- "pip uninstall test_prosperlib"